EXPO_PUBLIC_API_URL=http://192.168.1.x:3000/api # Gunakan IP WiFi PC, backend harus di 0.0.0.0
EXPO_PUBLIC_GEMINI_API_KEY=
EXPO_PUBLIC_WEB_DAPP_URL=http://192.168.1.x:3000 # Gunakan IP WiFi PC untuk akses dari HP
EXPO_PUBLIC_DEMO_CONTRIBUTOR_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266 # Default Hardhat test account, replace in prod
EXPO_PUBLIC_DEMO_MODE=false
