EXPO_PUBLIC_API_URL=http://192.168.1.x:3000/api # Gunakan IP WiFi PC, backend harus di 0.0.0.0
EXPO_PUBLIC_GEMINI_API_KEY=
EXPO_PUBLIC_WEB_DAPP_URL=http://192.168.1.x:3000 # Gunakan IP WiFi PC untuk akses dari HP
EXPO_PUBLIC_DEMO_CONTRIBUTOR_ADDRESS=0x... # Alamat dompet untuk demo reward/claim
EXPO_PUBLIC_DEMO_MODE=false
